*, *:after, *:before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: $font-family-1;
  background: $color-5;
  color: $color-text-1;
  font-size: $font-size-default;
  font-weight: $font-weight-default;
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ol ul {
  list-style-type: disc;
  padding-left: 20px;
  padding-top: 20px;

   li {
    display: list-item;
    list-style-type: disc;
   }
}

button {
  appearance: none;
  border: 0;
  background: none;
  padding: 0;
}


a:-webkit-any-link {
  color: inherit;
}
