*, *:after, *:before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: $font-family-1;
  background: $color-5;
  color: $color-text-1;
  font-size: $font-size-default;
  font-weight: $font-weight-default;
  line-height: 1.62;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
