textarea {
  box-shadow: 0 1px 3px 1px rgba($color-black, 0.25);
  border: none;

  font-family: $font-family-1;
  font-size: $font-size-default;

  padding: 12px 20px;

  &::placeholder {
    color: $color-text-3;
  }
}

.input-text {
  height: 50px;
  padding: 12px 20px;
  box-shadow: 0 1px 3px 1px rgba($color-black, 0.25);
  border: none;

  &::placeholder {
    color: $color-text-3;
  }
}
