textarea {
  box-shadow: 0 1px 3px 0 rgba($color-black, 0.15);
  border: none;

  font-family: $font-family-1;
  font-size: $font-size-default;

  padding: 12px 20px;

  &::placeholder {
    color: $color-text-3;
  }
}

.input-text {
  height: 50px;
  padding: 12px 20px;
  box-shadow: 0 1px 3px 0 rgba($color-black, 0.15);
  border: none;

  &::placeholder {
    color: $color-text-3;
  }
}

.dropdown-trigger {
  padding: 12px 20px;
  background-color: $color-white;
  box-shadow: 0 1px 3px 0 rgba($color-black, .15);
  transition: .2s ease-in;
  cursor: pointer;

  &:hover {
    box-shadow: 0 1px 3px 0 rgba($color-black, .15), 0 7px 15px 0 rgba($color-black, .15);
  }

  &.-placeholder {
    color: $color-3;
  }

  display: block;
  position: relative;
  width: 100%;

  &:after {
    content: "";
    position: absolute;
    top: 12px;
    right: 20px;
    width: 10px;
    height: 10px;
    border-top: 1px solid $color-black;
    border-right: 1px solid $color-black;
    transform: rotate(135deg);
    pointer-events: none;
  }

  input {
    appearance: none;
    margin: 0;
    border: 0;
    line-height: 1em;
  }
}

.dropdown {
  position: relative;
}

.dropdown-content {
  // display: none;
  position: absolute;
  z-index: 1;
  background-color: $color-white;
  box-shadow: 0 7px 15px 0 rgba($color-black, .15), 0 1px 3px 0 rgba($color-black, 0.15);
  max-height: 200px;
  width: 100%;
  overflow: auto;
}

.dropdown-item {
  cursor: pointer;
  padding: 12px 20px;
  width: 100%;

  &:hover {
    background-color: $color-3;
  }
}
