.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;

  //colors
  &.-light {
    fill: $color-white;
  }

  &.-dark {
    fill: $color-text-1;
  }

  //layout
  &.-in-line-left {
    margin-right: 10px;
  }

  //size
  &.-big {
    width: 2em;
    height: 2em;
  }

  &.-medium {
    width: 1.5em;
    height: 1.5em;
  }

  &.-short {
    height: .5em;
  }

  //specific
  &.-username {
    width: 18px;
    height: 18px;
  }
}
