.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;

  // colors
  &.-light {
    fill: $color-white;
  }

  &.-dark {
    fill: $color-text-1;
  }

  // layout
  &.-in-line-left {
    margin-right: 10px;
  }

  // sizes
  &.-big {
    width: 32px;
    height: 32px;
  }

  &.-huge {
    width: 64px;
    height: 64px;
  }

  &.-short {
    height: .5em;
  }

  //specific
  &.-username {
    width: 18px;
    height: 18px;
  }

  &.-info {
    width: 16px;
    height: 16px;
  }
}
