.l-main.builder-index, .l-main.enabling-conditions {
  display: flex;
  max-width: 1080px;
  margin: 0px auto;
}

//Grid modificators
.-flex-vertical-centered {
    flex-direction: column;
    justify-content: center;
    display: flex;
}
