.l-main.builder-index, .l-main.enabling-conditions {
  position: relative;
  max-width: 1080px;
  margin: 0px auto;
}

//Grid modificators
.-flex-vertical-centered {
    @media #{$mq-tablet} {
      flex-direction: column;
      justify-content: center;
      display: flex;
    }
}


.c-solution {
  margin-bottom: 20px;
}

