@import 'settings';

// Foundation styles
// NOTE: normalize is included with foundation
@import 'foundation-sites/scss/foundation';
@include foundation-flex-classes;
@include foundation-flex-grid;

// Common
@import 'base';
@import 'font';
@import 'mixins';
@import 'layout';
@import 'animations';

// Components
// - layout
@import 'components/common/grid-item'; // Must be before the other grid components
@import 'components/common/grid-list';
@import 'components/common/grid-slider';

// - page
// @import 'components/page/section';
