@import 'settings';

// Reset
@import '../node_modules/normalize.css/normalize';

// Common
@import 'base';
@import 'font';
@import 'layout';
@import 'animations';

// Components
// - layout
// @import 'components/layout/header';

// - page
// @import 'components/page/section';