@import 'settings';

// Reset
@import '../node_modules/normalize.css/normalize';

// Foundation styles
@import 'foundation-sites/scss/foundation';
@include foundation-flex-classes;
@include foundation-flex-grid;

// Common
@import 'base';
@import 'font';
@import 'layout';
@import 'animations';

// Components
// - layout
@import 'components/common/grid-item';
@import 'components/common/grid-list';

// - page
// @import 'components/page/section';
