@import 'settings';

// Foundation styles
// NOTE: normalize is included with foundation
@import 'foundation-sites/scss/foundation';
@include foundation-flex-classes;
@include foundation-flex-grid;

// Reset
@import 'reset';

// Common
@import 'base';
@import 'font';
@import 'mixins';
@import 'icons';
@import 'layout';
@import 'animations';

// - page
// @import 'components/page/section';

// Components
// - layout
@import 'components/layout/l-home';

// - page
@import 'components/page/explore-detail/detail';
@import 'components/page/explore-detail/section-detail';
@import 'components/page/explore-detail/cloud';
@import 'components/page/explore-detail/itemization';

@import 'components/page/home/call-to-action';
@import 'components/page/home/main-link';
@import 'components/page/home/video-wrapper';

// - common
@import 'components/common/title';
@import 'components/common/texts';
@import 'components/common/main-nav';
@import 'components/common/sub-menu';
@import 'components/common/tab';
@import 'components/common/grid-item'; // Must be before the other grid components
@import 'components/common/grid-list';
@import 'components/common/grid-slider';
@import 'components/common/cover';
@import 'components/common/breadcrumbs';
@import 'components/common/button';
@import 'components/common/item-gallery';
