@import 'settings';

// Foundation styles
// NOTE: normalize is included with foundation
@import 'foundation-sites/scss/foundation';
@include foundation-flex-classes;
@include foundation-flex-grid;

// Reset
@import 'reset';

// Common
@import 'base';
@import 'font';
@import 'mixins';
@import 'icons';
@import 'layout';
@import 'animations';
@import 'forms';

@import "leaflet/dist/leaflet.css";

// - page
// @import 'components/page/section';

// Components
// - layout
@import 'components/layout/l-home';
@import 'components/layout/l-content';
@import 'components/layout/l-footer';
@import 'components/layout/map-container';
// - page
@import 'components/page/explore-detail/detail';
@import 'components/page/explore-detail/section-detail';
@import 'components/page/explore-detail/reported-impact';
@import 'components/page/explore-detail/highlighted-bmes';
@import 'components/page/explore-detail/related-content';
@import 'components/page/explore-detail/contact-form';
@import 'components/page/explore-detail/summary-section';
@import 'components/page/explore-detail/overview-section';
@import 'components/page/explore-detail/snapshot-section';
@import 'components/page/explore-detail/cloud';
@import 'components/page/explore-detail/itemization';
@import 'components/page/explore-detail/itemlist';
@import 'components/page/explore-detail/bme-overview';

@import 'components/page/home/call-to-action';
@import 'components/page/home/main-link';
@import 'components/page/home/video-wrapper';

@import 'components/page/builder-index/layout';

@import 'components/page/about/about';
@import 'components/page/about/partnership';

// - common
@import 'components/common/logo-app';
@import 'components/common/modal';
@import 'components/common/title';
@import 'components/common/main-nav';
@import 'components/common/mobile-header';
@import 'components/common/sub-menu';
@import 'components/common/tab';
@import 'components/common/grid-item'; // Must be before the other grid components
@import 'components/common/grid-list';
@import 'components/common/grid-slider';
@import 'components/common/cover';
@import 'components/common/download-data';
@import 'components/common/breadcrumbs';
@import 'components/common/button';
@import 'components/common/toggle-button';
@import 'components/common/item-gallery';
@import 'components/common/spinner';
@import 'components/common/map';
@import 'components/common/map/legend';
@import 'components/common/map/legend-item';
@import 'components/common/map/infowindow';
@import 'components/common/logo';
@import 'components/common/footer-nav';
@import 'components/common/download-data-modal';

// form
@import 'components/common/form/radio';

@import 'utils';
