.u-left-separator {
  @media screen and (min-width: $screen-m) {
    border-left: 1px solid $color-4;
  }
}

.u-bottom-separator {
  border-bottom: 1px solid rgba(#2C2F32, 0.1);
}

.u-bb-2 {
  border-bottom: 2px solid;
}

.u-border-none { border: none; }

.u-pl-1\/2 { padding-left: 0.5em; }
.u-pr-1\/2 { padding-right: 0.5em; }
.u-pt-1\/2 { padding-top: 0.5em; }
.u-pb-1\/2 { padding-bottom: 0.5em; }

.u-pl-1 { padding-left: 1em; }
.u-pr-1 { padding-right: 1em; }
.u-pt-1 { padding-top: 1em; }
.u-pb-1 { padding-bottom: 1em; }

.u-pl-2 { padding-left: 2em; }
.u-pr-2 { padding-right: 2em; }
.u-pt-2 { padding-top: 2em; }
.u-pb-2 { padding-bottom: 2em; }

.u-pl-4 { padding-left: 4em; }
.u-pr-4 { padding-right: 4em; }
.u-pt-4 { padding-top: 4em; }
.u-pb-4 { padding-bottom: 4em; }

.u-pb-100 { padding-bottom: 100%; }

.u-ml-a { margin-left: auto; }

.u-mb-1\/2 { margin-bottom: 0.5em; }
.u-ml-1\/2 { margin-left: 0.5em; }
.u-mt-1\/2 { margin-top: 0.5em; }
.u-mb-1\/2 { margin-bottom: 0.5em; }
.u-mr-1\/2 { margin-right: 0.5em; }

.u-mt-1 { margin-top: 1em; }
.u-mb-1 { margin-bottom: 1em; }
.u-ml-1 { margin-left: 1em; }
.u-mr-1 { margin-right: 1em; }

.u-mt-2 { margin-top: 2em; }
.u-ml-2 { margin-left: 2em; }
.u-mr-2 { margin-right: 2em; }
.u-mb-2 { margin-bottom: 2em; }

.u-mt-4 { margin-top: 4em; }

.u-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.u-w-100 { width: 100%; }
.u-w-30 { width: 30%; }
.u-w-bl { width: #{$base-line-height}em; }
.u-h-bl { height: #{$base-line-height}em; }

.u-relative { position: relative; }
.u-flex { display: flex; }
.u-flex-sb { justify-content: space-between; }
.u-flex-center { justify-content: center; }
.u-align-items-center { align-items: center; }
.u-align-items-right { align-items: right; }

.u-block { display: block; }
.u-inline { display: inline; }
.u-inline-block { display: inline-block; }

.blh { line-height: $base-line-height; }

.u-va-m { vertical-align: middle; }

.debug { background-color: red; }

.u-uppercase { text-transform: uppercase; }

.u-bw-2 { border-width: 2px; }
.u-bc-cc { border-color: currentColor; }

.u-pointer { cursor: pointer; }

@media print {
  .u-hide-print { display: none; }
}

.u-small-pl-0 {
  @media screen and (max-width: $screen-m) {
    padding-left: 0.625rem; //It is the padding of the column
  }
}
