.about-page {
  margin-bottom: 25px;

  @media screen and (min-width: $screen-m) {
    margin-bottom: 50px;
  }

  .solutions-grid {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    min-height: 350px;

    .solution-item {
      margin: 0 0 25px;
    }
  }

  .about-content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    min-height: 350px;
  }
}

