.c-bme-overview {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  ul {
    margin-bottom: 50px;
    li {
      display: block;
      margin-top: 6px;
    }
  }

  .c-bme-overview-strip {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 20px;
  }

  .c-bme-overview-item-50 {
    width: 50%;
  }

  .c-bme-overview-item-25 {
    width: 25%;
  }

}
