.c-bme-overview {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  ul {
    margin-bottom: 50px;
    li {
      display: block;
      margin-top: 6px;
    }
  }

  .c-bme-overview-strip {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 20px;

    &.c-color-0 {
      background-color: #DD7D5C;
    }

    &.c-color-1 {
      background-color: #69E191;
    }

    &.c-color-2 {
      background-color: #28BCD4;
    }

    &.c-color-3 {
      background-color: #F7B50C;
    }
  }




  .c-bme-overview-item {
    width: 50%;
  }

}
