.bme-detail {

  a.external {
    color: $color-1;
    border-bottom: 1px solid $color-1;
    text-decoration: none;
  }

  ul {
    li {
      display: block;
    }
  }

  ul.details {
    li {
      margin-top: 1em;
    }
  }

  .external-sources {
    margin-top: 7px;

    li {
      line-height: 26px;
      &:not(:last-child) {
        margin-bottom: .5em;
      }
    }
  }

  .inverted {
  }

  .bme-detail-body {

    margin: 50px 0 100px;

    .separator {
      border-bottom: 1px solid rgba(#2C2F32, 0.1);
      padding-bottom: 40px;
      margin-bottom: 40px;
    }

    .bme-description {
      line-height: 32px;
    }

    .project-content {
      .project-name {
        line-height: 28px;
      }

      .project-city {
        text-transform: uppercase;
        color: $color-text-7;
        margin: .2em 0 .7em;
      }

      .project-link {
        text-align: right;
      }

      .project-description {
        line-height: 26px;
      }

      &:not(:last-child) {
        margin-bottom: 50px;
      }
    }
  }

  .bme-detail-related-content {
    padding: 50px 110px 100px;
    background-color: rgba(0, 0, 0, 0.02);
  }


}

.solution-detail {
  padding-top: 46px;

  .solution-detail-main {
    padding-top: 46px;
  }

  .solution-detail-rest {
    padding-top: 46px;
    background-color: $color-white;
  }
}
