.c-related-content {
  padding: 50px 0;
}

.solution-detail-page {
  .c-related-content {
    border-top: 1px solid rgba($color-1, .1);
    background-color: $color-5;
  }
}

.bme-detail-page {
  .c-related-content {
    background-color: rgba(0, 0, 0, 0.02);
  }
}
