.c-reported-impact {
  width: 100%;
  display: flex;
  align-items: top;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;

  .c-reported-impact-item {
    width: 300px;
    margin-bottom: 48px;
  }
}
