.c-detail-section {
  margin: 50px 0 0;

  &.-content-separator {
    .content {
      border-bottom: 1px solid rgba($color-1, .1);
    }
  }

  &.-content-padding {
    .content {
      padding: 0 0 50px;
    }
  }

  .content {
    * {
      font-family: $font-family-1;
      font-size: $font-size-default;
      color: $color-text-4;
      line-height: 26px;
    }

    p {
      margin: 0;

      &:not(:first-child) {
        margin: 15px 0 0;
      }
    }

    .info-list {
      > .info-item {
        display: flex;
        &:not(:first-child) {
          margin: 15px 0 0;
        }
      }
    }
  }

  .picture {
    position: relative;
    padding: 235px 70px 35px;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #ddd;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: linear-gradient(to bottom, rgba(44, 47, 51, 0), #2c2f33), linear-gradient(rgba(44, 47, 51, 0.3), rgba(44, 47, 51, 0.3));
    }

    &.-buildings {
      background-image: url("static/images/about-caption.jpg");
    }
  }
}
