.c-detail-section {
  margin: 50px 0 0;

  .content {
    padding: 0 0 50px;

    border-bottom: 1px solid rgba($color-1, .1);

    * {
      font-family: $font-family-1;
      font-size: $font-size-default;
      color: $color-text-4;
      line-height: 26px;
    }

    p {
      margin: 0;

      &:not(:first-child) {
        margin: 15px 0 0;
      }
    }

    .info-list {
      > .info-item {
        display: flex;
        &:not(:first-child) {
          margin: 15px 0 0;
        }
      }
    }
  }
}
