.c-snapshot-section {
  width: 100%;
  display: flex;
  align-items: top;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;

  .c-snapshot-section-item {
    width: 300px;
    margin-bottom: 48px;

    ul li {
      display: block;
    }
  }
}
