.l-home-header {
  padding: 30px 0;
  background-image: url('/static/images/home-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $screen-m) {
    padding: 50px 0;
  }


  @media (max-width: $screen-m) {
    .c-title.-fs-super-huge {
      font-size: 35px;
      font-weight: 300;
    }

    .c-title.-fs-bigger {
      margin-top: 20px;
      font-size: 20px;
      line-height: 1.2em;
    }

    .c-text.-fs-bigger {
      font-size: 16px;
    }
  }

  .c-title.-subtitle {
    margin-bottom: 30px;
  }

  @media (min-width: $screen-l) {
    padding: 150px 0;

    .c-title.-subtitle {
      margin-top: 20px;
      margin-bottom: 109px;
    }
  }

  li {
    margin-bottom: 5px;

    @media (min-width: $screen-m) {
      margin-bottom: 20px;
    }
  }
}

.l-home-main-links {
  padding-top: 20px;

  @media (min-width: $screen-m) {
    padding-top: 0;
    border: solid 1px rgba($color-1, .1);
  }
}

.l-home-call-to-action {
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $screen-m) {
    padding: 140px 0;
  }

  &.-explore {
    background-image: url('/static/images/home-module-explore.png');
  }

  &.-builder {
    padding-bottom: 50px;
  }

  .picture {
    img {
      display: block;
      width: 100%;
      max-width: 100%;
    }
  }
}
