.l-home-header {
  padding: 30px 0;
  background-image: url('/static/images/home-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $screen-m) {
    padding: 50px 0;
  }


  @media (max-width: $screen-m) {
    .c-title.-fs-super-huge {
      font-size: 35px;
      font-weight: 300;
    }

    .c-title.-fs-bigger {
      margin-top: 20px;
      font-size: 20px;
      line-height: 1.2em;
    }

    .c-text.-fs-bigger {
      font-size: 16px;
    }
  }

  .c-title.-subtitle {
    margin-bottom: 30px;
  }

  @media (min-width: $screen-l) {
    padding: 150px 0;

    .c-title.-subtitle {
      margin-top: 20px;
      margin-bottom: 109px;
    }
  }

  li {
    margin-bottom: 5px;

    @media (min-width: $screen-m) {
      margin-bottom: 20px;
    }
  }
}

.l-activities {
  padding-top: 40px;

  @media (min-width: $screen-m) {
    padding-top: 80px;
  }
}

.l-blog {
  padding: 20px 0;

  @media (min-width: $screen-m) {
    padding: 80px 0;
    margin: 80px 0;
    background-color: rgba(238,238,238,0.3);
    border-top: 1px solid rgba(151,151,151,0.4);
    border-bottom: 1px solid rgba(151,151,151,0.4);
  }
}

.l-home-videos {
  padding: 40px 0;

  @media (min-width: $screen-m) {
    padding: 100px 0;
  }
}
