.l-print {
  .-fs-huge {
    font-size: $font-size-extrabig !important;
  }

  .-fs-extrabig {
    font-size: $font-size-big !important;
  }

  .-fs-big {
    font-size: $font-size-medium !important;
  }

  p {
    font-size: $font-size-extrasmall!important;
  }

  .c-detail-section .content * {
    font-size: $font-size-extrasmall!important;
  }

  .description * {
    font-family: $font-family-1;
    font-size: $font-size-extrasmall!important;
  }

  .c-snapshot-section-item {
    margin-bottom: 10px;
  }

  .solution-detail {
    padding-top: 10px;
  }

  .c-detail-section {
    margin: 10px 0 0;
    padding-bottom: 10px;
  }

  .c-detail-section.-content-padding .content {
    padding-bottom: 10px !important;
  }

  .c-snapshot-section .c-snapshot-section-item {
    margin-bottom: 10px !important;
  }

  .c-summary-section {
    padding-top: 10px;
  }

  .c-summary-section .row.subtitle,
  .c-summary-section .row.title {
    margin-bottom: 10px;
  }

  .column {
    width: 100%;
    display: block;
    flex: 0 0 100%;
    max-width: 100% !important;
  }

  .radial-chart.thumbnail {
    // width: 50%;
    padding-top: 0;
  }

  .solution-overview-summary .column.small-12.large-8 {
    flex: 0 0 50%;
  }

  .solution-overview-summary .column.large-4 {
    flex: 0 0 50%;
  }
}
