.call-to-action {
  padding: 55px 50px 45px;
  background-color: $color-white;
  box-shadow: 0 1px 3px 0 rgba($color-black, 0.15);

  .c-title {
    margin-bottom: 20px;
  }

  .c-text {
    margin-bottom: 20px;
  }
}

