.l-home-header {
  padding: 320px 0 80px 0;
  background-image: url('/static/images/home-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.l-home-intro {
  padding-bottom: 80px;

  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin: 30px 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.l-home-main-links {
  padding: 50px 0 80px 0;
}

.m-main-link {
  display: flex;
  align-items: flex-end;
  height: 230px;
  width: 100%;
  padding: 36px 30px;
  border: solid 1px rgba($color-1, .1);
  transition: .2s ease-in;

  &:hover {
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.15), 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  }
}

.l-home-call-to-action {
  padding: 150px 0 125px 0;
  background-repeat: no-repeat;
  background-size: cover;

  &.-explore {
    background-image: url('/static/images/home-module-explore.jpg');
  }

  &.-builder {
    background-image: url('/static/images/home-module-builder.png');
  }

  .m-call-to-action {
    padding: 55px 50px 45px;
    background-color: $color-white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);

    .c-title {
      margin-bottom: 20px;
    }

    .c-text {
      margin-bottom: 20px;
    }
  }
}
