.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin: 30px 0;
  border: 1px solid rgba(44,47,51,0.1);
  background-color: rgba(0,0,0,0.02);

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    background-image: url('static/play.svg');
    background-repeat: no-repeat;
    pointer-events: none;
  }

  @media (min-width: $screen-m) {
    padding-top: 0;
    margin-top: 0;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
