
.leaflet-popup-close-button {
  display: none;
}

.leaflet-popup-content-wrapper {
  border-radius: 0;
  box-shadow: none;
  background: $color-2;

  > .leaflet-popup-content {
    margin: 0;
    padding: 15px;
    line-height: 1;
  }
}

.leaflet-popup-tip {
  background-color: $color-2;
}

.c-infowindow {

  > .infowindow-content {

    .c-title {
      &.-light {
        > a  {
          color: $color-text-6;
          cursor: pointer;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    .resume-items {
      margin: 10px 0 0;
      display: inline-block;

      font-size: $font-size-extrasmall;
      font-weight: $font-weight-light;
      color: rgba($color-text-6, .8);
    }

    > .info-list {
      margin: 10px 0 0;
      overflow-y: auto;
    }

    .info-item {
      margin-top: 0;
    }

    > .info-list > .info-item {
      display: block;

      &:not(:first-child) {
        margin: 5px 0 0;
      }

      > span,
      > a {
        font-size: $font-size-nano;
        color: rgba($color-text-6, .5);
        text-transform: uppercase;
      }

      > a {
        &:hover {
          color: $color-text-6;
        }
      }
    }
  }
}
