.c-input {
  appearance: none;
  margin: 0;
  border: 0;
  line-height: 1em;
  height: 50px;
  width: 100%;
  padding: 12px 20px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
}
