.c-custom-radio {
  position: relative;
  cursor: pointer;

  > .radio-fake {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 22px;
    width: 16px;
    height: 16px;
    margin: 0 10px 0 0;
    border: 1px solid $color-1;
    transform: translate(0, -50%);
    border-radius: 50%;
    pointer-events: none;
  }

  > label {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 15px 0 0;
    border: 2px solid transparent;

    padding: 12px 20px 12px 45px;
    background-color: $color-white;
    box-shadow: 0 1px 3px 0 rgba($color-black, .15);
    transition: .2s ease-in;

    font-size: $font-size-default;
    color: rgba($color-text-4, .8);
    cursor: pointer;
  }

  > input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;

    &:checked ~ label {
      border: 2px solid $color-1;
    }

    &:checked + .radio-fake {
      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px;
        height: 10px;
        transform: translate(-50%, -50%);
        background-color: $color-1;
        border-radius: 50%;
      }
    }
  }
}
