.c-breadcrumbs {
  li {
    font-size: $font-size-extrasmall;
    font-weight: $font-weight-bold;
    line-height: 1.25;
    color: $color-primary;

    &:not(:last-of-type)::after {
      display: inline-block;
      margin: 0 1ch;
      content: '/';
    }

    &:nth-last-child(2)::after {
      color: $color-white;
    }

    &:last-child {
      a {
        color: $color-white;
      }
    }

    a,
    span {
      font-size: $font-size-extrasmall;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
      line-height: 1.25;
      letter-spacing: 1px;
      color: $color-primary;
    }
  }
}
