.c-breadcrumbs {
  .breadcrumbs-item {
    font-size: $font-size-extrasmall;
    font-weight: $font-weight-bold;
    line-height: 1.25;
    color: $white;

    &:not(:last-of-type)::after {
      display: inline-block;
      margin: 0 1ch;
      content: '/';
    }

    a,
    span {
      font-size: $font-size-extrasmall;
      font-weight: $font-weight-bold;
      line-height: 1.25;
      letter-spacing: 1px;
      color: $white;
    }

    &.-title {
      display: block;
    }
  }

  .-bme & {
    li {
      color: $color-text-6;
    }

    a,
    span {
      color: $color-text-6;
    }
  }
}
