.c-breadcrumbs {
  li {
    font-size: $font-size-extrasmall;
    font-weight: $font-weight-bold;
    line-height: 1.25;
    color: $color-primary;

    &:not(:last-of-type)::after {
      display: inline-block;
      margin: 0 1ch;
      content: '/';
    }

    a,
    span {
      font-size: $font-size-extrasmall;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
      line-height: 1.25;
      letter-spacing: 1px;
      color: $color-primary;
    }
  }

  .-investment-component &,
  .-delivery-mechanism &,
  .-financial-product &,
  .-funding-source &,
  .-financing &,
  .-funding &,
  .-legal-arrangements &,
  .-technical-components & {
    li {
      color: $color-text-6;
    }

    a,
    span {
      color: $color-text-6;
    }
  }
}
