.c-cover {
  background-size: cover;
  background-position: center center;
  background-color: $color-2;

  &.-blue {
    background-color: $color-7;
    color: $color-white;
    a {
      color: $color-white;
    }
  }

  &.-size-short {
    .c-cover-veil {
      min-height: 300px;
      padding: 25px 0;
    }
  }

  &.-size-shorter {
    .c-cover-veil {
      min-height: 170px;
    }
  }

  &.-position-bottom {
    .c-cover-veil {
      padding: 180px 0 25px;
    }
  }

  > .row {
    height: 100%;
  }

  h1 {
    margin: 0;
    font-size: $font-size-huge;
    font-weight: $font-weight-thin;
    color: $color-text-5;
    line-height: 1.15;

    > svg {
      position: relative;
      top: 10px;
      fill: $color-white;
      stroke-width: .5;
      width: 60px;
      margin-right: 10px;
    }
  }

  .description {
    margin: 10px 0 0 0;
    color: $color-white;
    line-height: 32px;
  }

  .breadcrumbs {
    margin-bottom: 7px;
  }

  .actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    &.-margin {
      margin-bottom: 14px;
    }

    button {
      margin-left: 10px;
    }
  }

  .c-cover-veil {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(44,47,51,0.7);;

    min-height: 440px;
    padding: 50px 0;

  }
}
