.c-download-data-modal {
  padding: 50px;

  .selector {
    margin-top: 15px;

    label {
      display: inline-block;
      width: 49%;

      & + label {
        margin-left: 2%;
      }

      &:checked {

      }
    }

    .dropdown-content {
      display: none;
    }
  }

  .filters {
    margin-top: 20px;
  }

  .input-item {
    padding: 12px 20px;
    background-color: $color-white;
    box-shadow: 0 1px 3px 0 rgba($color-black, .15);
    transition: .2s ease-in;

    &:hover {
      box-shadow: 0 1px 3px 0 rgba($color-black, .15), 0 7px 15px 0 rgba($color-black, .15);
    }
  }
}

.react-dropdown-tree-select {

  > .dropdown {

    .dropdown-content {
      display: none;
    }

    &.dropdown--active {

      .dropdown-content {
        display: block;
      }
    }
  }
}
