.c-download-data-modal {
  // overflow: auto;
  padding-top: 50px;

  @media screen and (min-width: $screen-m) {
    padding-top: 0;
    max-height: 550px;
  }

  .selector {
    margin-top: 15px;
  }

  .download-fields-description {
    margin: 25px 0 0;
  }

  .filters {
    margin-top: 20px;
    margin-bottom: 30px;

    > .filter {
      &:not(:first-child) {
        margin: 15px 0 0;
      }
    }
  }

  .input-item,
  .dropdown-trigger {
    padding: 12px 20px;
    background-color: $color-white;
    box-shadow: 0 1px 3px 0 rgba($color-black, .15);
    transition: .2s ease-in;
    cursor: pointer;

    &:hover {
      box-shadow: 0 1px 3px 0 rgba($color-black, .15), 0 7px 15px 0 rgba($color-black, .15);
    }
  }

  .dropdown-trigger {
    display: block;
    position: relative;
    width: 100%;

    &:after {
      display: none;
    }

    .tag-list {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        top: calc(50% - 2px);
        right: 0;
        width: 10px;
        height: 10px;
        border-top: 2px solid $color-text-4;
        border-right: 2px solid $color-text-4;
        transform: rotate(135deg) translate(0, 50%);
        pointer-events: none;
      }
    }

    input {
      appearance: none;
      margin: 0;
      border: 0;
      line-height: 1em;
    }
  }

  .tag-item {
    &:not(:last-child) {
      margin: 0 10px 0 0;
    }

    > input {
      font-size: $font-size-default;
      color: rgba($color-text-4, .8);
    }

    > .tag {
      position: relative;
      display: flex;
      padding: 3px 12px;
      background-color: rgba($color-1, .1);
      border-radius: 15px;

      color: rgba($color-text-4, .8);
    }

    > .tag > .tag-remove {
      appearance: none;
      border: 0;
      background: none;
      outline: 0;

      height: 50%;
      padding: 0;
      margin: 0 0 0 5px;

      color: transparent;

      cursor: pointer;

      &:after {
        content: '×';
        display: inline-block;
        position: absolute;
        top: calc(50% - 2px);
        right: 7px;
        transform: translate(0, -50%);

        font-size: $font-size-medium;
        color: $color-text-1;

        cursor: pointer;
      }
    }

    & + .tag-item {
      > input {
        display: none;
      }
    }
  }

  .dropdown {
    position: relative;
    margin: 0 0 10px;



    &.dropdown--active {

      &::before {
        content: '';
        z-index: $z-index-2;
        display: inline-block;
        position: absolute;
        top: 49px;
        width: 100%;
        height: 28px;
        background: linear-gradient(180deg,  $color-white 0%, rgba($color-white, 0) 100%);
      }

      &::after {
        content: '';
        z-index: $z-index-2;
        display: inline-block;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 28px;
        background: linear-gradient(180deg, rgba($color-white, 0) 0%, $color-white 100%);
      }
    }
  }

  .dropdown-content {
    position: relative;
    z-index: 1;
    padding: 20px 10px;
    background-color: $color-white;
    box-shadow: 0 7px 15px 0 rgba($color-black, .15), 0 1px 3px 0 rgba($color-black, 0.15);
    max-height: 200px;
    overflow: auto;

    ul {
      li {
        display: block;
      }

      li > label {
        cursor: pointer;
      }
    }
  }


  .buttons {
    width: 100%;
    margin-top: 30px;
    text-align: center;
    padding-bottom: 30px;

    a {
      margin-left: 20px;
    }
  }
}

.react-dropdown-tree-select {

  > .dropdown {

    input[type="text"] {
      pointer-events: none;
    }

    .dropdown-content {
      display: none;
    }

    &.dropdown--active {

      .dropdown-content {
        display: block;
      }

      .dropdown-content .node {
        &:not(:first-child) {
          margin: 10px 0 0;
        }

        > label {

          input[type='checkbox'] {
            opacity: 0;

            &:checked {

              & + .node-label {
                &::after {
                  content: '✔';

                  font-size: $font-size-default;
                  line-height: 1.1;
                  color: $color-text-1;
                }
              }
            }
          }

          > .node-label {
            position: relative;
            margin: 0 0 0 15px;
            font-size: $font-size-default;
            color: rgba($color-text-4, .8);

            &::after {
              content: '';
              display: inline-block;
              position: absolute;
              top: 50%;
              left: -30px;
              width: 16px;
              height: 16px;
              border: 1px solid $color-text-2;
              transform: translate(0, -50%);
            }
          }
        }
      }
    }
  }
}
