.c-download-data-modal {
  padding: 50px;

  .selector {
    margin-top: 15px;

    label {
      display: inline-block;
      width: 49%; 
      
      & + label {
        margin-left: 2%;
      }

      &:checked {

      }
    }
  }

  .filters {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .input-item,
  .tag-item input {
    padding: 12px 20px;
    background-color: $color-white;
    box-shadow: 0 1px 3px 0 rgba($color-black, .15);
    transition: .2s ease-in;
    
    &:hover {
      box-shadow: 0 1px 3px 0 rgba($color-black, .15), 0 7px 15px 0 rgba($color-black, .15);
    }
  }

  .tag-item {
    position: relative;
    width: 100%;
    margin-bottom: 10px;

    &:after {
      content: "";
      position: absolute;
      top: 12px;
      right: 20px;
      width: 10px;
      height: 10px;
      border-top: 1px solid $color-black;
      border-right: 1px solid $color-black;
      transform: rotate(135deg);
      pointer-events: none;
    }

    input {
      width: 100%;
      appearance: none;
      margin: 0;
      border: 0;
      line-height: 1em;
    }
  }

  .dropdown-content {
    display: none;
  }


  .buttons {
    width: 100%;
    margin-top: 30px;
    text-align: center;

    a {
      margin-left: 20px;
    }
  }
}
