$grid-slider-arrow-size: 20px;

.c-grid-slider {
  position: relative;
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;

  @media #{$mq-tablet} {
    overflow-x: initial;
  }

  .column {
    margin: 15px 0;

    @media #{$mq-tablet} {
      margin: 25px 0;
    }
  }

  .c-grid-item {
    height: 100%;
    margin: 0 0 0 10px;

    @media #{$mq-tablet} {
      min-width: auto;
    }
  }

  .button {
    display: none;
    position: absolute;
    top: 25px;
    width: 90px;
    height: $grid-item-landscape-height;
    z-index: 1;
    background-color: transparent;
    border: 0;
    cursor: pointer;

    &.-portrait {
      height: $grid-item-portrait-height;
    }

    .image {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-color: $color-4;
      opacity: .3;
    }

    &.-previous {
      left: #{-1 * map-get($grid-column-gutter, medium) / 2};
      transform: translateX(-100%);

      &::after {
        @include arrow($grid-slider-arrow-size, 3px, $color-text-1, 'left');
        position: absolute;
        top: calc(50% - #{$grid-slider-arrow-size / 2});
        left: calc(50% - #{$grid-slider-arrow-size / 2});
      }

      .image {
        background-position: right center;
      }
    }

    &.-next {
      right: #{-1 * map-get($grid-column-gutter, medium) / 2};
      transform: translateX(100%);

      &::after {
        @include arrow($grid-slider-arrow-size, 3px, $color-text-1, 'right');
        position: absolute;
        top: calc(50% - #{$grid-slider-arrow-size / 2});
        left: calc(50% - #{$grid-slider-arrow-size / 2});
      }

      .image {
        background-position: left center;
      }
    }

    @media #{$mq-desktop} {
      display: inline-block;
    }
  }
}
