$grid-item-landscape-height: 130px;
$grid-item-portrait-height:  310px;

.c-grid-item {
  display: block;
  position: relative;
  text-decoration: none;

  @media #{$mq-tablet} {
    &:hover {
      z-index: 1;

      .background {
        transform: scale(1.16);
        background-color: $color-white;
        box-shadow: 0 7px 15px 0 rgba($color-black, .15);
      }
    }
  }


  .background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: transform .3s, background-color .3s, box-shadow .3s;
    content: '';
    z-index: -1;
  }

  .image {
    display: block;
    width: 100%;
    height: 130px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center center;
    background-color: $color-4;

    &.-portrait {
      height: 310px;
    }
  }

  .title {
    font-size: $font-size-default;

    @media #{$mq-tablet} {
      font-size: $font-size-bigger;
    }
  }

  .subittle {
    font-size: $font-size-default;
  }
}
