.c-item-gallery {
  margin: 55px 0 100px;

  > .gallery-list {
    width: 100%;
  }

  > .gallery-list > .gallery-item {
    display: block;

    > .gallery-item-header {
      display: flex;
      justify-content: space-between;
    }

    > .gallery-item-header > .gallery-item-title {
      display: flex;
      align-items: center;
    }

    &:not(:first-child) {
      margin: 55px 0 0;
    }
  }
}
