.c-main-nav {
  // height: $nav-height;
  padding: 0 15px;
  background: $color-1;

  .logo {
    width: auto !important;
  }

  .logo,
  .literal {
    padding: 15px 0;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .nav-container > .logo {
    display: flex;

    > a {
      position: relative;
      font-size: $font-size-extrasmall;
      color: $color-primary;
      line-height: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;
      padding-left: 10px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 2px;
        background-color: $color-primary;
      }
    }
  }

  .nav-container > .nav {

    .nav-list {
      display: flex;
      height: 100%;
    }

    .nav-list > .nav-item {
      display: inline-flex;
      align-items: center;

      &:not(:first-child) {
        margin: 0 0 0 35px;
      }

      &.-current {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 50%;
          height: 5px;
          background: $color-primary;
          transform: translate(-50%, 0);
        }

        & > .literal,
        & > .username {
          color: $color-white;
        }
      }

      &.-separator {
        display: inline;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          top: 50%;
          display: inline-block;
          width: 1px;
          height: 30px;
          background-color: rgba($color-white, .5);
          transform: translate(0, -50%);
        }
      }

      & > .literal,
      & > .username {
        display: inline-flex;
        align-items: center;
        height: 100%;
        color: rgba($color-white, .5);
        text-transform: uppercase;
        cursor: pointer;
        max-width: 130px;
        text-align: center;
        font-size: $font-size-smaller;
        line-height: 16px;
      }

      & > .username {
        & + .icon {
          margin: 0 0 0 5px;
        }
      }
    }
  }
}
