.c-mobile-header {
  padding: 0 15px;
  background: $color-1;

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    > .hamburguer {
      position: relative;
      min-width: 23px;
      height: 16px;
      padding: 0;

      appearance: none;
      border: 0;
      background: none;

      cursor: pointer;

      > .ingredient {
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;

        background-color: $color-white;

        &:first-child {
          top: 0;
        }

        &:nth-child(2) {
          top: 50%;
        }

        &:last-child {
          top: 100%;
        }
      }
    }

    > .cross {
      width: 23px;
      height: 16px;
      cursor: pointer;

      > .icon-close {
        width: 100%;
        height: 100%;
        fill: $color-white;
      }
    }

    > .slider {
      display: none;
      position: absolute;
      top: 56px;
      left: 0;
      width: 100%;
      height: 100%;

      background: $color-1;

      z-index: $z-index-11;

      > .nav {
        width: 100%;
        height: 100%;
        padding: 50px 21px;
      }

      > .nav > .nav-list {

        > .nav-item {
          display: block;

          &:not(:first-child) {
            margin: 40px 0 0;
          }

          > a {
            font-size: $font-size-medium;
            color: $color-white;
            letter-spacing: 1px;
            text-transform: uppercase;
          }

          &.-current {
            > a  {
              position: relative;

              &:after {
                content: '';
                display: inline-block;
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 100%;
                height: 5px;
                background: $color-primary;
              }
            }
          }
        }
      }
    }
  }

  &.-open {
    .slider {
      display: block;
    }
  }
}
