.c-modal {
  z-index: $z-index-11;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;

  > .modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 900px;
    height: 100%;

    @media screen and (min-width: $screen-s) {
      height: auto;
    }
  }

  > .modal-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .content {
    position: relative;
    background-color: $color-5;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow-y: auto;

    @media screen and (min-width: $screen-s) {
      height: auto;
      padding: 50px;
    }

    header {

      h1 {
        padding: 50px 50px 30px 50px;
      }

      .c-tabs {
        background-color: transparent;
      }

      .c-tabs .row {
        margin-left: 50px;
        .tab-item + .tab-item {
          margin-left: 50px;
        }
      }
    }

    .wrapper { overflow-x: hidden; max-height: 45vh; }

    .tab-content {
      position: relative;
      display: flex;
      width: 300%;

      section { max-height: 45vh; overflow-y: auto; }

      &.current-enabling-conditions { left: -100%; }
      &.current-comment { left: -200%; }
    }

    section {
      position: relative;
      width: 50%;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;

      @media screen and (min-width: $screen-m) {
        padding-left: 50px;
        padding-right: 50px;
      }

      h2 {
        margin: 10px 0 5px;
        color: rgba(44,47,51,0.9);

        @media screen and (min-width: $screen-m) {
          margin: 32px 0px 16px 0px;
        }
      }

      p, li {
        opacity: 0.8;
      }

      textarea {
        width: 100%;
        height: 276px;
      }

      .unsaved-overlay {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba($color-5, 0.8);

        p {
          text-align: center;
          width: 45%;
        }
      }

      &.disclaimer, &.builder-help {
        padding-top: 50px;
        width: 100%;

        h1 {
          margin-left: 10px;

          @media screen and (min-width: $screen-m) {
            margin-bottom: 20px;
          }
        }

        p {
          margin: 0;

          @media screen and (min-width: $screen-m) {
            margin-top: 20px;
          }
        }
      }

      &.disclaimer {

        h1 {
          margin-left: 0;

          @media screen and (min-width: $screen-m) {
            margin-bottom: 20px;
          }
        }
      }
    }

    .actions {
      margin: 50px auto;
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        width: 180px;

        & + button {
          margin-left: 20px;
        }
      }
    }
  }

  .dismiss {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    padding: 0;
    margin: 0;

    border-radius: 50%;

    cursor: pointer;

    @media screen and (min-width: $screen-l) {
      top: 34px;
      right: -20px;
      background-color: $color-white;
      box-shadow: 0 1px 3px 0 rgba($color-black, .15);
    }
  }

  .next, .prev {
    border: solid $color-white;
    border-width: 3px 3px 0px 0px;
    width: 25px;
    height: 25px;
    top: 50%;
    position: absolute;
    cursor: pointer;
  }

  .next { right: -60px; transform: rotate(45deg); }
  .prev { left: -60px; transform: rotate(-135deg); }

  &.-hidden {
    display: none;
  }

  &.-no-overflow {
    > .modal-container > .content {
      overflow-x: visible;
      overflow-y: visible;
    }
  }
}

// used in the body to prevent scrolling while modal is open
.no-overflow {
  overflow: hidden;
}
