.c-submenu {
  width: 270px;
  background: $color-5;
  z-index: $z-index-3;
  box-shadow: 0 1px 3px 0 rgba($color-black, .15), 0 7px 15px 0 rgba($color-black, .15);

  > .parent-menu {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 0 16px;

    > .literal {
      position: relative;
      display: flex;
      align-items: center;
      height: 100%;

      font-size: $font-size-smaller;
      color: $color-text-2;
      text-transform: uppercase;

      &::after {
        content: '';
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 50%;
        height: 5px;
        transform: translate(-50%, 0);
        background: $color-6;
      }
    }
  }

  > .menu-list {
    padding: 0 0 15px;
  }

  > .menu-list > .menu-item {
    display: block;
    text-align: center;
    cursor: pointer;

    &:hover {
      background: $color-white;
      box-shadow: 0 1px 3px 0 rgba($color-black, .15);
    }

    > .literal {
      display: block;
      padding: 8px 10px;
      font-size: $font-size-medium;
      color: rgba($color-1, .9);
      font-weight: $font-weight-light;
      line-height: 32px;
    }
  }

  &.-nav {
    > .parent-menu {
      height: $nav-height;
    }
  }

  &.-tab {
    > .parent-menu {
      height: $tab-height;
      margin: 0 0 32px;
      // 15px is the vertical displacement of the submenu in tabs
      transform: translate(0, 15px);
    }
  }
}
