.c-tabs {
  display: flex;
  justify-content: center;

  border-bottom: 1px solid rgba($color-black, .1);
  background: $color-white;

  .tab-list {
    display: flex;
    align-items: center;
    height: $tab-height;
  }

  .tab-list > .tab-item {
    display: flex;
    align-items: center;
    height: 100%;

    > .literal {
      cursor: pointer;
      display: flex;
      align-items: center;
      height: 100%;

      font-size: $font-size-smaller;
      color: $color-text-3;
      text-transform: uppercase;
    }

    &.-current {
      position: relative;

      &::after {
        content: '';
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 50%;
        height: 5px;
        background: $color-6;
      }

      > .literal {
        color: $color-text-2;
        cursor: default;
      }
    }
  }

  &.-explore {
    > .row {
      width: 100%;
    }

    .tab-list {
      justify-content: space-between;
      width: 100%;
    }
  }

  // (i) info icon
  .c-info-icon {
    width: 16px;
    height: 16px;
    margin-left: 10px;
    padding: 0;
    cursor: pointer;

    appearance: none;
    background: none;
    border: 0;
  }
}

// wrap where the component is setted. Used by Tether
.tab-wrap-element {
  z-index: $z-index-11;
}
