.c-tabs {
  position: relative;
  display: flex;
  justify-content: center;

  border-bottom: 1px solid rgba($color-black, .1);
  background: $color-white;

  &::before {
    z-index: $z-index-2;
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    width: 20px;
    height: 100%;
    background: linear-gradient(270deg, rgba($color-white,0) 0%, $color-white 100%);
    pointer-events: none;
  }

  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    right: 0;
    width: 43px;
    height: 100%;
    background: linear-gradient(90deg, rgba($color-white,0) 0%, $color-white 100%);
    pointer-events: none;
  }

  @media #{$mq-tablet} {
    &::before,
    &::after {
      display: none;
    }
  }

  .tab-list {
    display: flex;
    overflow: auto;
    align-items: center;
    height: $tab-height;
    padding: 0 10px;
  }

  .tab-list > .tab-item {
    display: flex;
    align-items: center;
    height: 100%;

    &.Cities,
    &.investment-components {
      display: none;
    }

    &:not(:first-child) {
      margin: 0 0 0 30px;
    }

    &:first-child {
      padding: 0 0 0 15px;
    }

    &:last-child {
      padding: 0 15px 0 0;
    }

    > .literal {
      cursor: pointer;
      display: flex;
      align-items: center;
      height: 100%;

      font-size: $font-size-extrasmall;
      color: $color-primary;
      line-height: 1;
      text-align: center;
      text-transform: uppercase;

      @media screen and (min-width: $screen-m) {
        font-size: $font-size-smaller;
      }
    }

    &.-current {
      > .literal {
        position: relative;
        color: $color-primary;
        cursor: default;

        &::after {
          content: '';
          display: inline-block;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 0);
          width: 50%;
          height: 5px;
          background: $color-primary;;
        }
      }
    }

    @media #{$mq-tablet} {
      &:first-child {
        padding: 0;
      }

      &:last-child {
        padding: 0;
      }
    }
  }

  &.-explore {
    > .row {
      width: 100%;
    }

    .tab-list {
      justify-content: space-between;
      width: 100%;
    }
  }

  // (i) info icon
  .c-info-icon {
    width: 16px;
    height: 16px;
    margin-left: 10px;
    padding: 0;
    cursor: pointer;

    appearance: none;
    background: none;
    border: 0;
  }
}

// wrap where the component is setted. Used by Tether
.tab-wrap-element {
  z-index: $z-index-11;
}

.fixed-navigation-element {
  width: 100%;
  z-index: $z-index-3;
}
