.c-text {
  margin: 0;

  font-family: $font-family-1;
  font-weight: $font-weight-default;
  line-height: 1;

  // colors
  &.-dark {
    color: $color-text-4;
  }

  &.-gray-light {
    color: $color-text-2;
  }

  &.-light {
    color: $color-text-6;
  }

  &.-highlight {
    color: $color-text-7;
  }

  // sizes
  &.-fs-huge {
    font-size: $font-size-huge;
  }

  &.-fs-extrabig {
    font-size: $font-size-extrabig;
  }

  &.-fs-bigger {
    font-size: $font-size-bigger;
  }

  &.-fs-big {
    font-size: $font-size-big;
  }

  &.-fs-medium {
    font-size: $font-size-medium;
  }

  &.-fs-smaller {
    font-size: $font-size-smaller;
  }

  &.-fs-extrasmall {
    font-size: $font-size-extrasmall;
  }

  // weigths
  &.-fw-light {
    font-weight: $font-weight-light;
  }

  &.-fw-thin {
    font-weight: $font-weight-thin;
  }

  &.-fw-bold {
    font-weight: $font-weight-bold;
  }

  // miscellaneous
  &.-uppercase {
    text-transform: uppercase;
  }

  //Line height
  &.-lh-default {
    line-height: $font-size-default;
  }

  &.-lh-medium {
    line-height: 1.5em;
  }
}
