.c-title,
.c-text,
p  {
  margin: 0;

  font-family: $font-family-1;
  font-size: $font-size-default;
  font-weight: $font-weight-default;
  line-height: 2em;

  // colors
  &.-dark {
    color: $color-primary;

    a {
      color: $color-primary;
      text-decoration: underline;
    }
  }

  &.-gray-light {
    color: $color-text-2;
  }

  &.-light {
    color: $color-text-6;
  }

  &.-highlight {
    color: $color-text-7;
  }

  &.-highlight-yellow {
    color: $color-text-8;
  }

  // sizes
  &.-fs-super-huge {
    font-size: 50px;
    line-height: 1.5;

    @media screen and (min-width: $screen-m) {
      font-size: $font-size-huge;
    }
  }

  &.-fs-huge {
    font-size: 40px;

    @media screen and (min-width: $screen-m) {
      font-size: $font-size-huge;
    }
  }

  &.-fs-extrabig {
    font-size: $font-size-big;
    line-height: 1.5em;

    @media screen and (min-width: $screen-m) {
      font-size: $font-size-extrabig;
    }
  }

  &.-fs-bigger {
    font-size: $font-size-medium;
    line-height: 1.5em;

    @media screen and (min-width: $screen-m) {
      font-size: $font-size-big;
    }
  }

  &.-fs-big {
    font-size: $font-size-big;
    line-height: 1.5em;
  }

  &.-fs-medium {
    font-size: $font-size-default;
    line-height: 1.5em;

    @media screen and (min-width: $screen-m) {
      font-size: $font-size-medium;
    }
  }

  &.-fs-smaller {
    font-size: $font-size-smaller;
  }

  &.-fs-extrasmall {
    font-size: $font-size-extrasmall;
  }

  // weigths
  &.-fw-light {
    font-weight: $font-weight-light;
  }

  &.-fw-regular {
    font-weight: initial;
  }

  &.-fw-thin {
    font-weight: $font-weight-thin;
  }

  &.-fw-bold {
    font-weight: $font-weight-bold;
  }

  // miscellaneous
  &.-uppercase {
    text-transform: uppercase;
  }

  &.-underline {
    text-decoration: underline;
  }

  //Line height

  &.-lh-default {
    line-height: $font-size-default;
  }

  &.-lh-small {
    line-height: 1.2em;
  }

  &.-lh-medium {
    line-height: 1.5em;
  }

  //Align
  &.-center {
    text-align: center;
  }

  &.-caption {
    position: relative;
    padding-top: 35px;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 5px;
      width: 60px;
      background-color: $color-9;
    }
  }

  a {
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  &.-tagline {
    font-style: italic;
    line-height: 1.2em;
    margin-top: 20px;
    font-size: 20px;

    @media screen and (min-width: $screen-m) {
      margin-top: 40px;
    }
  }
}

a {
  p {
    color: $black !important;

    &.-dark {
      color: $color-primary !important;
    }
  }
}

//Margins
.c-text + .c-text {
  margin-top: 20px;
}

.c-title + .c-text {
  margin-top: 10px;
}

.-title-margin {

  @media screen and (min-width: $screen-m) {
    margin-bottom: 50px;
  }
}

.-title-margin-small {
  margin-bottom: 25px;
}
