$color-categories: (
  investment-component: #F7B50C,
  delivery-mechanism: #28D1ED,
  financial-product: #69E090,
  funding-source: #DD7D5C,
);

.c-builder-sidebar {
  margin-top: 35px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .footer {
    font-weight: $font-weight-light;
    font-size: $font-size-smaller;
  }
}

.radial-chart {
  margin-top: 50px;
  font-weight: 300;
  position: relative;
  width: 800px;

  .tooltip {
    pointer-events: none;
    background-color: $color-9;
    border-radius: 15px;
    border: solid 2px $color-5;
    padding: 8px 15px 7px 15px;
    width: auto;
    display: table;
    transform: translate(-50%, -40px);

    p {
      margin: 0px;
      line-height: 1.07;
      text-transform: uppercase;
      font-size: $font-size-smaller;
    }
  }

  @each $category, $color in $color-categories {
    .tooltip.#{$category} { background-color: $color; }

    circle.#{$category} { fill: $color; stroke: $color; }
    line.#{$category} { stroke: $color; }
  }

  circle {
    stroke-width: 1.5;
    fill-opacity: 0.2;

    &.selected {
      stroke: black;
      fill: none;
      stroke-width: 2;
    }

    &.level-3 {
      fill-opacity: 1;

      &:hover {
        stroke: $color-white;
        cursor: pointer;
      }
    }
  }

  line {
    stroke-width: 3;
    opacity: 0.2;
  }
}

.root-label { width: 16%; height: 16%; margin: 0; display: flex; align-items: center; pointer-events: none; padding: 2%; }
.root-label p { text-align: center; width: 100%; }
