.l-main.builder-index {
  display: flex;
}


.c-builder-sidebar {
  //position: absolute;
  flex-shrink: 0;
  z-index: $z-index-2;
  padding-top: 2em;
  padding-left: 1px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  div[role="link"] {
    cursor: pointer;
  }

  .header {
    p {
      margin-top: 0px;
    }
  }

  .footer {
    font-weight: $font-weight-light;
    font-size: $font-size-smaller;

    .legend-item {
      display: flex;

      p, .radial-chart {
        margin-top: 0px;
        margin-bottom: 10px;
      }
    }
  }
}

.c-builder-bme-detail {
  ul {
    li {
      display: block;
    }
  }
}

.c-builder-solution-picker {
  position: absolute;
  z-index: $z-index-2;
  top: 0px;
  bottom: 0px;
  left: -16px;

  width: 350px;
  background-color: $color-5;
  border-right: 1px solid rgba(44,47,51,0.1);

  header {
    padding-top: 35px;
    padding-right: 50px;
    padding-bottom: 35px;
    border-bottom: 1px solid rgba(44,47,51,0.1);
    background-color: $color-white;
    h1, p {
      margin-left: 16px;
    }
  }

  .solutions-list {
    margin-top: 35px;

    li {
      margin-bottom: 10px;
    }
  }
}

.c-enabling-conditions-selector {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  z-index: $z-index-2;
  background-color: $color-5;

  border-right: 1px solid rgba(44,47,51,0.1);
  padding-bottom: 50px;
  margin-right: 24px;
  width: 70%;

  header {
    background-color: $color-white;
    h1 {
      padding: 50px 50px 30px 50px;
    }

    p {
      padding: 0px 50px 30px 50px;
      margin: 0px;
    }

    .c-tabs .row {
      margin-left: 50px;
      .tab-item + .tab-item {
        margin-left: 50px;
      }
    }
  }

  section {
    padding-left: 50px;
    padding-right: 50px;

    h2 {
      margin: 32px 0px 16px 0px;
      color: rgba(44,47,51,0.9);
    }

    p, li {
      opacity: 0.8;
      display: block;
    }
  }
}


.radial-chart {
  &.thumbnail {
    margin-left: auto;
    padding-top: 100px;

    p {
      display: none;
    }
    width: auto;
  }

  font-weight: 300;
  position: relative;
  max-width: 80vh;

  .tooltip {
    z-index: $z-index-11;
    pointer-events: none;
    border-radius: 15px;
    border: solid 2px $color-5;
    padding: 8px 15px 7px 15px;
    width: auto;
    display: table;
    transform: translate(-50%, -150%);

    p {
      margin: 0px;
      line-height: 1.07;
      text-transform: uppercase;
      font-size: $font-size-smaller;
    }
  }

  &:not(.thumbnail) g {
    transition: all 1s ease-in-out;
    transition-property: transform, opacity;
  }

  @each $category, $color in $color-categories {
    .tooltip.#{$category} {
      border: 1px solid $color;

      background-color: mix($color, $color-white, 20%);
      &.level-4 {
        background-color: $color;
      }
    }

    .#{$category} {
      circle { fill: mix($color, $color-white, 20%); stroke: $color; }
      &.level-3 circle { fill: $color; stroke: $color; }
      line { stroke: $color; }
    }
  }

  circle {
    stroke-width: 1.5;

    &.selected {
      stroke: black !important;
      fill: none !important;
      stroke-width: 2;
    }
  }

  &:not(.active-undefined) {
    circle {
      stroke-width: 1;

      &.level-3 {
        stroke-width: 0;
      }

      &.selected {
        stroke-width: 2;
      }
    }
  }

  g.Barrier {
    opacity: 0.3;
  }

  g.node.Success {
    transform: scale(2);
  }

  @each $category, $color in $color-categories {
    @if $category != 'none' {
      .active-#{$category} g.node:not(.#{$category}) {
        opacity: 0.3;
      }
    }
  }

  &.interactive {
    .active-none g.node {
      &.level-3, &.level-0 {
        circle:hover { cursor: pointer; }
      }

      &.level-0 circle:hover { transform: scale(1.125); }
      &.level-1 circle:hover { transform: scale(1.25); }
      &.level-2 circle:hover { transform: scale(1.5); }
      &.level-3 circle:hover { transform: scale(2); }
    }
    @each $category, $color in $color-categories {
      @if $category != 'none' {
        .active-#{$category} g.node.#{$category} {
          &.level-3, &.level-0 {
            circle:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  line {
    stroke-width: 2;
    stroke-opacity: 0.4;
  }
}

.root-label {
  width: 16%;
  height: 16%;
  margin: 0;
  display: flex;
  align-items: center;
  pointer-events: none;

  transform: translate(-50%, -50%);

  p {
    text-align: center;
    width: 100%;
  }
}


.enabling-conditions .radial-chart {
  margin-top: 226px;
  width: 30%;
  p { display: none; }
}

.c-dismiss.-arrow {
  position: absolute;
  top: 34px;
  left: 100%;
  line-height: 42px;
  font-size: $font-size-smaller;
  font-weight: $font-weight-default;
  padding: 0px 20px 0px 61px;
  text-align: center;
  align-items: center;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
  background-color: $color-1;
  color: $color-white;
  text-transform: uppercase;
  cursor: pointer;

  &::before {
    content:"";
    width: 10px;
    height: 10px;
    border-bottom: 2px solid $color-white;
    border-left: 2px solid $color-white;
    position: absolute;
    left: 16px;
    top: 16px;
    transform: rotate(45deg);
  }

  &::after {
    content:"";
    width: 16px;
    height: 8px;
    border-bottom: 2px solid $color-white;
    position: absolute;
    left: 17px;
    top: 14px;
  }
}

.c-builder-project {
  .info-list {
    box-shadow: 0 1px 3px 1px rgba($color-black, 0.25);
    padding: 12px 20px;
    background-color: $color-white;
    border: none;
  }

  textarea {
    width: 100%;
    height: 200px;
  }

  .c-bme-overview-item {
    width: 50%;
  }

  .saved-project-list > .saved-project-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:first-child) {
      margin: 15px 0 0;
    }

    > .delete-button {
      font-family: $font-family-1;
      font-size: $font-size-default;
      color: $color-text-4;

      cursor: pointer;
    }
  }
}

.c-checkbox {
  cursor: pointer;

  input[type='checkbox'] {
    display: none;
  }

  &.-checked::before {
    content: "✔";
    border: 1px solid $color-black;
    background-color: $color-black;
    color: $color-white;
  }

  &:not(-checked)::before {
    content: "";
    border: 1px solid $color-text-7;
    margin-bottom: -2px;
  }

  &::before {
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1.1em;
    text-align: center;
    margin-right: 0.8em;
    border-radius: 3px;
  }

  &.-checked {
    font-weight: $font-weight-bold;
  }
}

.c-radio {
  input[type='radio'] {
    display: none;
  }

  &.-checked {
    font-weight: $font-weight-bold;
  }

  &::before {
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1.1em;
    text-align: center;
    margin-right: 0.8em;
    border-radius: 50%;
  }

  &:not(-checked)::before {
    content: "";
    border: 1px solid $color-text-7;
    margin-bottom: -2px;
  }

  &.-checked::before {
    width: calc(1em - 7px);
    height: calc(1em - 7px);
    background-color: $color-black;
    color: $color-white;

    box-shadow: 0 0 0 3px $color-white, 0 0 0 4px $color-black;
    margin-right: calc(3px + 0.8em);
    margin-left: 3px;
    margin-bottom: 3px;
  }
}

@each $category, $color in $color-categories {
  .theme-#{$category} {
    .theme-scoped-bc {
      border-color: $color;
    }
  }
}

.c-custom-bme-button {
  width: 100%;
  line-height: 3em;
  font-size: $font-size-default;
  color: $color-text-4;
  background-color: transparent;
  border: 1px dashed mix($color-10, $color-3, 20%);
  border-radius: 5px;
  text-align: left;
  padding-left: 20px;
  cursor: pointer;
}

